[2019-04-10 13:05] zurda commented on #743
I came across this useful link recently: [developer-roadmap](https://github.com/kamranahmedse/developer-roadmap), and I agree with the above discussion. Creating a list of free/valuable resources for graduates would be extremely useful since we do have time for more learning during the job search

[2019-04-10 13:26] zurda commented on #612
While doing the testing code along for FAC-16, we also didn't get to the styling. Having said that, I don't think this had a negative affect on the code along. For one thing, I think getting used to not finishing content and having incentive to complete them later on isn't a disadvantage.
Also, I think that not styling the roman numerals app made sense considering the [week-2 structure](https://gi

[2019-04-10 14:48] susanX opened #982 "FAC16 PostgreSQL week 6"
Project
Requirements
[After]
• Simple web app with a node server and a database
Your database comes with a schema, which should be documented in your readme (along with any other architectural decisions).
[Add after here]
• You can have 1, 2 or 3 tables in your database.

[2019-04-10 15:24] charlielafosse commented on #973
Hey sorry I wrote out a comment like a week ago and thought it had posted but clearly not... will try to remember what I wrote :sweat_smile:

I think the main thing was about `createHmac` and `digest`. Correct me if I'm wrong but I'm pretty sure the reason they're not in the example in Exercise 1 is because the example is just showing `sign` and `validate` being executed... whereas the point in th

[2019-04-10 15:25] charlielafosse commented on #973
And also, in what ways would you shorten the README? What would you cut out?

[2019-04-10 16:38] oliverjam commented on #979
Well I'm gonna publish this generator tonight. If we want to try it you can't get much simpler than `npx minimal-eslint`

<img width="824" alt="Screenshot 2019-04-10 at 17 36 00" src="https://user-images.githubusercontent.com/9408641/55896892-4964db00-5bb7-11e9-8d3a-04fb133a6eb8.png">

[2019-04-10 18:17] zurda commented on #69
@jsms90 , @bradreeder, this issue appears to be complete? If I'm misunderstanding something - I'm happy to help out with a PR (I might need some guidence :) )

[2019-04-10 18:26] zurda commented on #20
@njsfield , @msachi , @ameliejyc , are you working on this issue, or could it be closed? I'm happy to help with this if needed, LMK  (cc: @shiryz )

[2019-04-10 18:29] zurda commented on #71
If I remember correctly, @freelancedad gave us (FAC-15) a great talk about online presence and portfolio. I'm not sure if this is unique to the London program, but it could be useful for other programs?

[2019-04-10 18:33] zurda commented on #73
I'm really glad React week was chosen - very valuable!
@sofer , is there further action/ discussion needed, or could we close?

[2019-04-10 18:44] zurda commented on #89
@sofer , I think it's worth chatting with FAC-16 about this one. Because they're a cohort of 15, they have a team of 3 each week. It would be extremely interesting to get their feedback about how this changes the work process: both advantages and disadvantages. For example, I noticed the team of 3 usually work all 3 in front of one computer, which happens less in teams of 4 (worth asking them, bec

[2019-04-10 18:58] zurda commented on #90
@jsms90 , I agree. Is it possible to introduce this clarification/ task in the [git workflow workshop for two](https://github.com/foundersandcoders/git-workflow-workshop-for-two/issues/52)? This could be added as either a bonus, or as an addition to step 11 asking the student to request changes in the PR:

![Screenshot 2019-04-10 at 19 52 38](https://user-images.githubusercontent.com/16784959/5590

[2019-04-10 19:08] zurda commented on #93
Personally, for me, bringing these things up during SGC is really good, because it's documented, and students who go on to be mentors can read exactly what they thought of a certain week before mentoring that week. This was extremely helpful for me before I started mentoring. Just reading what we thought of that week, and the discussion we had.

Having said that, I can see the benefits of this sor

[2019-04-10 19:29] zurda opened #984 "Recourses link broken in weekly curriculum"
Please delete if this is a duplicated issue, but I noticed resources link is broken in 7/8 weeks.
PR #983

[2019-04-10 21:10] #984 closed

[2019-04-10 21:16] astroash commented on #73
closing as no longer relevant. Feel free to reopen if this is not the case 🙂

[2019-04-10 21:16] #73 closed

[2019-04-10 21:18] astroash commented on #20
closing as no longer relevant. Feel free to reopen if this is not the case 🙂

[2019-04-10 21:18] #20 closed

[2019-04-10 21:18] astroash commented on #93
closing as no longer relevant. Feel free to reopen if this is not the case 🙂

[2019-04-10 21:18] #93 closed

[2019-04-10 21:19] astroash commented on #69
closing as no longer relevant. Feel free to reopen if this is not the case 🙂

[2019-04-10 21:19] #69 closed

[2019-04-10 21:31] astroash commented on #979
Having another look through the linter doc I would suggest:

- remove section on linting files
- add a section on what linting looks like in an editor
- explain fix-on-save

No preference over oli's eslint config or setting config to recommend. Altho if we go for the minimal one, it would be good to add a line about stricter linter configs in the doc 🙂

[2019-04-10 21:35] astroash commented on #956
@zurda are you still in favour of this proposal, or do you think the issue was solved with the updated research topics?

[2019-04-10 21:45] zurda commented on #956
This was not an issue for fac16, perhaps as a result of the research topic change. I think this is resolved

[2019-04-10 21:46] #956 closed

[2019-04-10 22:01] oliverjam commented on #979
If we do decide to keep using `eslint --init` we need to update that doc because the latest version asks different questions 😆

<img width="800" alt="Screenshot 2019-04-10 at 22 59 39" src="https://user-images.githubusercontent.com/9408641/55916524-7bd8fd00-5be4-11e9-91ae-04c61f46b90c.png">

Also might be worth introducing `npx` at this point as an alternative to `./node_modules/.bin` for local de

[2019-04-11 00:12] charlielafosse commented on #956
@zurda I agree! it seemed that the new research topic helped with the understanding of the video

[2019-04-11 08:33] zurda commented on #307
@jsms90 @samatar26 I also feel it's not a lot of information and might not require a full 2 hours slot. Personally, I feel research helped me learn how to research even though it was never taught. We kind of figured it out as a team, and different teams worked in different ways, and I think it was an important lesson that you can find tons of useful information online, but sometimes - you'll waste

[2019-04-11 08:45] zurda commented on #810
@eliascodes , @yvonne-liu , was this resolved? If so, can we close this?

[2019-04-11 08:49] mattlub commented on #973
fyi I made a PR on the workshop which swapped the order of the exercises for when we delivered it. What are your thoughts on that?

https://github.com/foundersandcoders/ws-jwt-stateless-session/pull/29

I think also it's better for discussion about improvements/changes to the workshop ideally to take place on the repo of the workshop itself, so you can easily see previous issues relating to the wo

[2019-04-11 08:57] zurda commented on #870
Relates #975

[2019-04-11 09:04] zurda commented on #907
For FAC-16 London we focused on Tape on week 1 to prevent confusion. To make sure they know the alternatives we put Jest as a `Go` on the weekly [SGC](https://github.com/foundersandcoders/london-programme/blob/master/stop-go-continue/fac-16/week2.md), and recommended that they should give it a go on their projects.

[2019-04-11 09:05] susanX commented on #982
Code-along database name has been changed to 'film' on a branch FAC16.

[2019-04-11 09:23] zurda commented on #800
I had no idea this was relatively new, and it makes me value the face we had it on our cohort even more. Personally speaking, it was an excellent tool for me. Updating it in as the weeks go by makes you learn a lot about yourself and the way you work in a team.

I would be curious to know how it's working out for others and on other programs. I believe for FAC-16 @charlielafosse and @boi87 had the

[2019-04-11 09:30] astroash commented on #275
@mattlub are you happy for this issue to be closed?

[2019-04-11 09:46] zurda commented on #860
I'm happy to help with a PR for this one, but I think @astroash is right - reopening and merging #812 should clarify these weeks.

[2019-04-11 11:00] zurda commented on #683
@rinoma , @jsms90 Does this issue still need resolving? There's an open [PR](https://github.com/foundersandcoders/css-gallery-challenge/pull/12) which I'm happy to help with this if there's still agreement a change is needed for this challenge.

[2019-04-11 11:20] Oliversw commented on #979
Funnily enough this is basically why this whole conversation started! Haha

I think all of @astroash's suggestions are great, as well as @oliverjam's awesome generator! I don't see any reason we can't introduce both and let them decide - what do you both think?

[2019-04-11 11:23] charlielafosse commented on #800
correct @zurda . See #953 for how @boi87 and I structured Week 1 Day 1. Also see #958 - another issue on user manuals

[2019-04-11 12:30] mr-bagglesworth commented on #934
Slides on testing a pure function that works with the DOM can be found in the link below. Not sure where they would fit into the curriculum for API week, but they could be of use:

[Testing a text formatting function that works with the DOM](https://hackmd.io/p/BkP-LZbuN#/)

[2019-04-11 13:18] #275 closed

[2019-04-12 11:42] yvonne-liu commented on #810
@zurda Yes, thanks for the reminder.

[2019-04-12 11:42] #810 closed

[2019-04-12 13:31] sofer commented on #73
Thank you for closing.

[2019-04-12 19:14] zurda commented on #229
I know for FAC-15 we've pitched before reading week, which made sense to me at the time (we made some arrangements for testing during reading week).
Is this currently scheduled differently in other programs, @shiryz , @m4v15 , @astroash ?
(and if it's the same for all programs, should this issue be closed?)

[2019-04-12 19:35] zurda commented on #262
@jsms90 , we have a PR suggesting to [add callbacks as a research topics in week 2](https://github.com/foundersandcoders/master-reference/pull/961), which might make things a bit less confusing when they get to promises.
For now, as far as I can see - promises were added as a research topic and a morning challenge, so I'm not sure if the discussion is still active, or if this is considered resolve

[2019-04-12 19:42] zurda commented on #581
@jsms90  I'm not sure how this is done in other programs, and I can only speak for FAC-15, but I know for us design week was an entire week of learning about the process, talking to DWYL, sprints, learning about different roles (scrum, devops, QA, UX), and practically no coding at all. I suspect this issue might have been resolved, but perhaps design week isn't the same for other programs? Feel fr

[2019-04-12 19:52] zurda commented on #733
@shiryz , @mattlub , @astroash , while mentoring FAC-16 we've been putting our retrospective notes as an [issue](https://github.com/foundersandcoders/master-reference/issues/933).

Our process was:
1. While on FAC-15 we reviewed the content of the week we'll be mentoring and discussed it within our cohort
2. Each mentoring pair created an issue in master reference, assigned themselves, and listed

[2019-04-12 22:04] jcharnley commented on #974
[ws1-authWeek7_v2 .pptx](https://github.com/foundersandcoders/master-reference/files/3073691/ws1-authWeek7_v2.pptx)

[2019-04-13 09:13] oliverjam commented on #262
I'm honestly not sure. This issue is so old, but a lot of what I originally raised is still an issue. If anything it's worse now—there are _tons_ of browser APIs that use promises (fetch, cache, geolocation, bluetooth, permissions etc). As of [two days ago](https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V11.md#11.14.0) Node core has stable support for promise-based file system

[2019-04-13 10:15] shiryz commented on #907
I don't want to repeat what's been said before, my suggestion for fixing and closing this issue would be to mention jest during week 2, whether as a research topic or like @zurda did during sgc and ask students to use in react week (or preferably weeks 11+12 when they have time to research it a bit more).

[2019-04-13 12:48] zurda commented on #262
I might be missing something here, and I apologise in advance, but it would be helpful if we focus the topic a bit. My confusion is - is there an agreement that promises should be introduced earlier?

I can see two problems raised in this issue:
1. Promises is introduced in a morning challenge in week-7, yet the research topic about promises is only a week later + promises is a complex topic and s

[2019-04-13 14:27] oliverjam commented on #262
So I originally opened this issue during curriculum planning for FAC11. We (FAC10) didn't cover promises at all, so it was confusing for us to emerge from the first 8 weeks or so and encounter them for the first time. Since then (possibly some time around FAC13) a morning challenge was created to introduce promises a bit, during Week 7. I'm not sure when the research afternoon was added, but that'

[2019-04-13 15:38] zurda commented on #903
@arrested-developer , Is there another action item on this issue, or can it be closed? Happy to help, if I can!

[2019-04-13 15:55] zurda commented on #768
I like the thought of introducing it into the curriculum, although it could definitely be in the pre-course (I thought I read about it on my pre course material, but I might be wrong).

The benefit of putting it pre course, IMO, is that people can read as much as they want and dive into any links we put in the `history.md` file. Having said that, putting it in the curriculum this communicates how

[2019-04-13 16:23] zurda commented on #426
Is this something that we can somehow recreate? I'm curious what was the talk about (links to sgc are broken).

[2019-04-13 16:25] zurda commented on #611
Is there another action item needed here, or was this resolved by the above PR's?

[2019-04-13 17:04] iteles commented on #426
@zurda This talk started with the history of Founders & Coders and moved into the community aspect of what it means to be part of the course and the wider community. It underlined that we're all a team and this is not a competition and set up some of the core values at the very beginning of the course, like if you get to the finish line alone (without your team), you've failed.

We can pretty easi

[2019-04-13 18:17] astroash commented on #426
The talk continues. @zurda I think I helped run it for your cohort 🙃.

As this is cohort specific i think it can closed.

[2019-04-13 18:17] #426 closed

[2019-04-14 07:46] astroash commented on #611
Design week has taken alternative updates.

[2019-04-14 07:46] #611 closed

[2019-04-14 09:19] zurda commented on #94
Where is the suggested format documented? I looked at [CONTRIBUTING.md](https://github.com/foundersandcoders/master-reference/blob/master/CONTRIBUTING.md), and only found a comment about using a descriptive body in the issue, but didn't notice specifics. Personally, I really like having an automated template as long as the person writing the issue knows it's not too strict, and they can move thing

[2019-04-14 18:27] arrested-developer commented on #262
May be related to #971 - I think @m4v15 introduced fetch and thus promise syntax in week 2 for FAC-K1 , although promises weren't fully explored until later in the course.

[2019-04-15 13:27] m4v15 commented on #262
Yeah so like @arrested-developer says we kind of introduced promises in week 2, but just the syntax really as we still wanted people to understand the callback pattern - something which I still think _has_ to be understood well before moving straight onto callbacks

I think it's definitely fair to be confused by this @zurda, how we introduce asynchronous javascript is a huge issue that has never b

[2019-04-16 09:55] charlielafosse commented on #733
this is now document in the master ref! @arrested-developer did a lot of great work on documenting this process - and I recently added some updates too. [See here](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) for the documentation.

[2019-04-16 10:04] charlielafosse commented on #903
The second half of the course is now going to be 10-18, technically, so will need some small changes there to the schedule.

@sofer and I have also been working on rejigging Week-10 a little, there's a PR inbound at some point soon with proposed changes.

[2019-04-16 10:06] charlielafosse commented on #903
We could probably close this? We'll still need to merge changes on the schedule for 10-16 into `london-programme` anyway, before we start thinking about merging those changes into master reference...

[2019-04-16 10:43] charlielafosse commented on #937
## Reflections on how the week went:

## Any changes we did + Links to the PRs:

## Feedback from students:

## Suggested actions:

[2019-04-16 10:44] charlielafosse commented on #937
Hi @lucyewright and @susanX , please summarise your feedback for the week in a comment here, using the template above :point_up: ! Once you're done feel free to unassign yourselves from this issue :rose:

[2019-04-18 09:40] #584 closed

[2019-04-18 09:41] #581 closed

[2019-04-19 11:03] zurda commented on #416
We did week 2 and mentioned `git stash`, `git status`, `git branch`. I think different mentors will bring up different commands they use often, and this comes up naturally during the week. I think for FAC-16 there's also a talk about git workflow by @onwordi

[2019-04-19 11:06] zurda commented on #259
Am I mistaken, or is React officially in the curriculum for all programs? I apologise if I'm missing something (cc @shiryz , @m4v15 )

[2019-04-19 11:08] oliverjam commented on #416
FAC students tend to come out of the course with a pretty great practical understanding of how to use basic git commands to get their work done (if only because they have to use them multiple times a day every day).

I'm not sure everyone ends up understanding how git actually works, which is necessary for understanding some of the more advanced features, but this isn't too important for a short b

[2019-04-19 11:09] zurda commented on #246
For us at FAC-15, we received a well organised email from @freelancedad with a list of recommended reading material and links. Is this also available for other programs, and could this be closed - or is there additional action needed on this issue?

[2019-04-19 11:10] oliverjam commented on #259
Yeah this can be closed. We have an official React Week that also teaches a fair bit of modern frontend (bundling, ES modules etc)

[2019-04-19 11:10] #259 closed

[2019-04-19 11:19] zurda commented on #220
This looks like it might have been resolved?

[2019-04-19 18:12] oliverjam opened #988 "Measuring curriculum effectiveness"
Do we have any way to quantify roughly how effective our curriculum is? Have we ever considered something like a short (maybe voluntary) end of week quiz to assess how well the week's learning outcomes were met?

It would be relatively easy to create given each week already has learning outcomes—do we think students would object to answering some informal questions (maybe just in a Google Form?)

[2019-04-19 18:27] astroash commented on #988
@oliverjam when I was cf I creates google forms based off of each weeks learning objectives & asked students to fill them out. I used the feedback to give additional advice and partially inform my recommendations to changes in the curriculum.

I personally found it useful but was cautious for it to become mandatory as back then the CF role was only part time. If there are others to review the feed

[2019-04-19 18:32] #220 closed

[2019-04-19 18:48] oliverjam commented on #988
That's amazing, thanks. So you were just asking students if they felt like they knew each learning outcome? Rather than actually asking a question with a correct/wrong answer to check if they had learned it?

I think this would be useful data to gather after each week whether the CF or mentors used it or not. We'd be able to identify trends over the cohorts and figure out places the curriculum is

[2019-04-19 19:47] zurda commented on #554
The [first workshop](https://github.com/foundersandcoders/api-workshop) of the week has this line at the bottom:

[code]

Personally, I don't remember any specific confusion about this in FAC-15 but it would be helpful to hear feedback about this from @charlielafosse , @shiryz , @m4v15 , @astroash

[2019-04-19 20:09] #416 closed

[2019-04-19 20:10] #246 closed

[2019-04-19 20:53] astroash commented on #988
Yeah, there were whispers about changing the LOs back then so that was the main focus of the survey. If I did it again I would make the questions less binary than they appear here.

Personally i prefer self assessment rather than quizes as they can promote competition, and anxiety in students who feel they are falling behind. How about a self assessment with prompting questions?

eg

This way you'

[2019-04-20 10:15] oliverjam commented on #988
Yeah I like that a lot. I agree that I'm not comfortable putting even more stress on students who might be struggling with a quiz they might perceive as judging their progress. I guess anonymity should help a little, but self-assessment and reflection is a great way to do it.

Do we think it's too late to ask FAC16 to answer some surveys? I'm happy to go through the learning outcomes for each week

[2019-04-21 07:58] shiryz commented on #554
@zurda I don't think this is covered in detail in week 3 (2 now for Naz) but still, it is not confusing and students understand the concept pretty well

[2019-04-21 13:27] charlielafosse commented on #988
I really like this idea.

I suppose that SGCs are meant to cover feedback, although they're a less than ideal format for people who are hesitant about public speaking. I also think that those who are less comfortable with a topic actually end up saying less in the SGC, which is definitely not helpful for getting a representative idea of how the week's gone.

It might also be cool for students to b

[2019-04-22 09:28] oliverjam opened #989 "Database setup boilerplate"
I've just gone through all the Week 6 database setup stuff (wrote my first SQL in 2 years 😍!) and it feels like we could clean it up a fair bit.

There's a lot of magic boilerplate that it looks like teams copy from project to project. Every project ends up with a `db_connection.js` that does a load of string parsing of their connection URL.

[code]

Most of this isn't actually necessary: `pg` [su

[2019-04-22 10:34] Oliversw commented on #989
This definitely seems super useful! We just copied the connection file every single week because we didn't think anything could really be changed. Being a bit more concise and deliberate about it would be lovely

[2019-04-22 10:41] ali-7 commented on #989
yes, also ` Legacy URL API is Deprecated`  >>> `url.parse`

[2019-04-22 10:51] oliverjam commented on #989
@ali-7 ah I didn't realise node had implemented the `URL` constructor, cool

[2019-04-22 11:02] ali-7 commented on #989
@oliverjam yes, it was a new feature since 8v, I think, then they make it permanent

[2019-04-22 12:04] mattlub commented on #989
agree, looks good. I guess we lose those `ssl` and `max` options but I'm not even sure if they're valid options (https://www.postgresql.org/docs/9.1/libpq-envars.html)?

[2019-04-22 12:10] oliverjam commented on #989
I think they are both valid, no reason not to keep them: https://node-postgres.com/api/client

We can do something like:
[code]

[2019-04-22 12:18] mattlub commented on #989
true. Do we know why we set `max` to 2? the default is `10`

https://node-postgres.com/api/pool#new-pool-config-object-

[2019-04-22 12:41] oliverjam commented on #989
I honestly don't know where half this stuff comes from. One person makes it up in an example and suddenly we've got 7 workshops and 5 cohorts worth of projects copying it 😆

If it has a sensible default we should leave it out. The less config the better when you're still learning

[2019-04-23 11:58] #903 closed

[2019-04-23 12:17] sofer commented on #229
@zurda I can also confirm that FAC16 project selection is happening this week, Week 8. Closing.

[2019-04-23 12:17] #229 closed

[2019-04-23 12:48] sofer commented on #800
@zurda I am loving your comments on old open issues. closing this now, though.

[2019-04-23 12:48] #800 closed

[2019-04-23 18:07] sofer commented on #89
@zurda you are right that FAC16 have had shown that teams of three can sometimes collaborate effectively.  I am closing this, as we have settled into teams of 4 (with the occasional exception) in recent cohorts, and I don't see this changing any time soon.

[2019-04-23 18:07] #89 closed

[2019-04-25 11:36] tantsandras commented on #938
### Reflections on how the week went:

The week went well, no major hiccups.

### Any changes we did + Links to the PRs:

We made changes to the presentation, nothing big, mostly deleting gifs and memes, but we also added a little bit more information that related to the workshops we did during the week. Jason has the latest one but I would propose redoing the presentation in the new slideshow tem

[2019-04-25 11:36] tantsandras commented on #938
ooops lol

[2019-04-30 08:33] sofer opened #990 "Checklist of things to think about & challenges after first 8 weeks"
Currently sitting in a [hackmd file](https://hackmd.io/UJxDTRNvT3y35yjozfqTUg). It probably makes sense for this checklist to be copied into master-reference and maintained here.

[2019-04-30 10:05] charlielafosse commented on #990
Agree, it's an awesome checklist ( big up @m4v15 )

[2019-04-30 17:08] #554 closed

[2019-05-05 11:19] zurda commented on #957
I believe this was merged and can be closed

[2019-05-05 11:19] #957 closed

[2019-05-05 11:25] zurda commented on #932
I noticed the fix to the schedule was already merged. Is there additional action needed on this, or is it ready to be closed (cc: @charlielafosse, @boi87 )

[2019-05-05 11:29] zurda commented on #398
Is there an action needed on this issue? I can only speak for FAC-15, but for us, github workflow was something we became better at with time. It took a lot of practice, and as our communication skills improved - our github workflow improved as well. Personally, I feel the resources and workshops are sufficient, and I especially enjoyed the addition of working on a staging branch (thank you @onwor

[2019-05-05 11:56] astroash commented on #398
Outdated issue

[2019-05-05 11:56] #398 closed

[2019-05-05 14:54] zurda commented on #587
Is this still under consideration, or was it resolved?
Personally, I feel we did address wether or not the project is suitable since we could ask the person pitching it questions, and share our thoughts. Since the projects picked are usually the most popular ones, I can't imaging something not suitable being chosen. Is this still an issue/ concern that needs addressing?

[2019-05-05 14:57] zurda commented on #585
Since this issue was opened there were [5 PR](https://github.com/foundersandcoders/express-handlebars-workshop/pulls?q=is%3Apr+is%3Aclosed)'s merged into this workshop (e.g: correcting errors, improving workshop). Can we assume this issue can now be closed, or are there any specific actions to be taken? Happy to help!

[2019-05-05 14:59] zurda commented on #586
Is there any specific actions to be taken or was this already resolved? Happy to help with a PR if needed!

[2019-05-05 19:07] astroash commented on #586
Outdated issue

[2019-05-05 19:07] #586 closed

[2019-05-05 19:32] astroash commented on #585
Outdated issue

[2019-05-05 19:32] #585 closed

[2019-05-06 18:19] zurda commented on #577
Is there an action item for this, or was this already resolved? Happy to help if needed!

[2019-05-06 18:22] zurda commented on #553
This may have already been resolved, but personally the design sprint was one of the main benefits of the self selected project IMO. It was a huge difference working for a week on design only without coding, and I feel continuing an existing project might harm the design week of the clients project to follow.

[2019-05-07 07:32] m4v15 commented on #577
I think it's kind of resolved/outdated - @arrested-developer I think did a lot of user testing in London for FAC15, and I assume @charlielafosse has something similar planned. I _think_ there is already enough divergence and this is more of CF led thing that ensuring uniformity across campuses is unnecessary at this stage

[2019-05-07 08:14] m4v15 commented on #553
I think this is pretty much outdated and can be closed

[2019-05-07 08:52] arrested-developer commented on #577
Now that weeks 10-16

[2019-05-07 09:00] arrested-developer commented on #577
oops! clumsy fingers...

Not sure if this is an issue for `master-reference` or `london-programme`

User testing should now be well embedded in the weeks 10-18 timetables in `london-programme` but this kind of thing can always be improved. I do find that a lot of the material in weeks 10+ is not that thoroughly resourced and depends a lot on who is in the room to deliver it. IMO it might be worth

[2019-05-07 13:12] charlielafosse commented on #577
Agree with what @arrested-developer is saying... we're currently in the midst of Week 10 now so will be back soon with some more feedback and thoughts :seedling:

[2019-05-08 08:39] charlielafosse commented on #939
@onwordi @wright1

[2019-05-08 08:40] charlielafosse commented on #990
I'm happy to make a PR for it if you want @m4v15

[2019-05-08 09:38] m4v15 commented on #990
Go for it!

[2019-05-09 07:03] m4v15 commented on #587
I think this can be closed, it seems like everyone was in agreement and it makes sense to me that yes, guidance should be provided. Maybe this needs to be documented somewhere, but also it just happens naturally.

[2019-05-09 15:14] #587 closed

[2019-05-09 17:21] #553 closed

[2019-05-10 18:47] zurda commented on #412
Is this discussion ongoing, or was this resolved?

[2019-05-10 18:47] zurda commented on #417
Is there an action item here, or is this outdated?

[2019-05-10 18:48] zurda commented on #92
Is this discussion ongoing, or is this outdated?

[2019-05-10 18:50] zurda commented on #147
Is there an action item here, or was this already resolved? I'm happy to help with a PR if needed

[2019-05-10 18:51] zurda commented on #195
Is this something we're planning to add, or is this outdated? Happy to help with a PR if needed @sofer

[2019-05-10 18:52] zurda commented on #236
Is this an ongoing discussion, or is this outdated? cc: @sofer

[2019-05-10 18:54] zurda commented on #192
@charlielafosse and I spoke this week about improving awareness and documenting the contribution process. Does this topic require an action, or was this resolved?

[2019-05-10 18:56] zurda commented on #405
Is there an action item? Happy to help out with a PR if needed <3

[2019-05-10 18:57] zurda commented on #403
Pretty sure this is outdated, but if it isn't happy to help with a PR if needed

[2019-05-10 19:02] zurda commented on #599
There seem to be a number of PRs and issues related to this. Was this resolved, or is it an ongoing issue?

[2019-05-10 19:03] zurda commented on #588
Is this an ongoing discussion, or is it outdated? Happy to help out if there's an action item cc: @sofer

[2019-05-10 19:36] zurda commented on #175
Personally, it feels that if the workshops are scheduled in a specific week then the previous weeks probably include the prerequisites. Unless I'm missing something, and this is outdated.
IF this is an ongoing discussion or WIP - I'm happy to help with a PR

[2019-05-10 20:10] #815 closed

[2019-05-10 20:58] zurda commented on #878
Can I help with a pr for this one? Happy to help if there's an action item. I personally looked for react week, so this issue rings true to me. More than happy to help prevent confusion for future students ❣️

[2019-05-10 21:00] zurda commented on #866
Is this an ongoing discussion or was it resolved?

[2019-05-10 21:06] zurda commented on #868
Am I mistaken or was this resolved by adding the option to create a photo gallery rather than a kata? Cc @sofer

[2019-05-10 21:10] zurda commented on #847
I just tried the links in [week 2 resources](https://github.com/foundersandcoders/master-reference/blob/master/coursebook/week-2/resources/README.md), and didn't find the broken ones. I assume this was resolved?

[2019-05-10 21:20] zurda commented on #858
Agree with @eliascodes, I think this is resolved cc: @sofer

[2019-05-10 21:24] zurda commented on #846
I tried the links and they seem to work. Can someone else double check, and close if this was resolved?

[2019-05-10 21:41] zurda commented on #520
It's been a while since this was opened. Is this still an issue that needs addressing?

[2019-05-10 22:20] oliverjam commented on #846
Looks good to me

[2019-05-10 22:20] #846 closed

[2019-05-10 22:22] oliverjam commented on #868
I think we should keep this open to track the possibility of moving from Codewars entirely (no idea how likely that is though)

[2019-05-11 09:12] #866 closed

[2019-05-11 11:52] #858 closed

[2019-05-11 11:54] sofer commented on #878
@zurda thank you for the nudge 👍. In the light of recent conversations with maintainers, we are likely to move away from the aspiration of putting all learning resources into master-reference. Closing now.

[2019-05-11 11:54] #878 closed

[2019-05-11 13:30] zurda commented on #868
Learning is subjective, and Codewars was a bit of a struggle for me as well when I tried to add a Kata. However despite the struggle I still think I learned a lot from Codewars and it *was* worth it.

For me, personally, Codewars was the first place where I was in charge of the order I go about doing stuff. I could do a lot of the simple katas, or attempt the harder ones to speed up my process of

[2019-05-11 13:40] zurda commented on #868
Makes sense @oliverjam.

Personally, I haven't come across a proper alternative yet. I tried exercism which was nice since they encourage you to create a project locally. However, in general, there was a smaller variety of practice examples.

Perhaps giving the people the option to choose between something like codewars and exercism might be an idea? I liked codewars better, but it's extremely sub

[2019-05-11 15:04] oliverjam commented on #847
The two Codesolid ones appear to be broken—although the URL works it just goes to the homepage not an article.

[2019-05-11 15:38] #847 closed

[2019-05-11 18:16] zurda commented on #505
I suspect this was resolved, or perhaps Travis improved their services since?

I don't remember such an issue at fac-15, and if we did suffer from concurrent deploys - it might have happened only on a Thursday when we were working simultaneously on final changes. However this wasn't something that affected our progress (I might be missing something, and this might be an issue for other cohorts).

[2019-05-12 09:08] arrested-developer commented on #989
I was just scanning over #991 and I wonder if the convention of using a database URL has come about because this is the way Heroku sets up the Postgres addon?

When we want students to deploy their app via Heroku, they will need to understand what the `DATABASE_URL` environment variable is and how to parse it, whereas if they're already used to setting up their database this way they can relativel

[2019-05-12 21:01] mr-bagglesworth opened #993 "Week 3 - Software Architecture Workshop (revisited)"
I'm wondering (after entering the world of work!) whether a supplementary workshop could or should be designed to help prepare students to work with and find their way around larger codebases.

It is a common requirement to find your way through labyrinthian codebases, fix bugs, and add to or create new features. Such tasks can seem pretty daunting, and I don't believe anything currently in the cu

[2019-05-13 08:03] oliverjam commented on #989
@arrested-developer sorry if my original comment was confusing, but I'm suggesting we keep using the database URL (like the one Heroku gives you). The difference is we don't need to do all the parsing. The `pg` module can do that for you if you just pass the URL in as the `connectionString` option.

[2019-05-13 11:39] m4v15 commented on #520
I think this can probably be closed it is so long and some many iterations have happened since, it's hard to know if the schedule even has the same time allocated fro this as it did then

[2019-05-13 11:46] m4v15 commented on #175
Probably outdated? Although I actually do really like this idea tbh....

[2019-05-13 11:52] m4v15 commented on #236
I think outdated as website was redesigned since then. Anyway, I don't think issue belongs in master reference and should be either in london-programme our our current site repo.

[2019-05-13 12:11] #520 closed

[2019-05-13 12:11] #236 closed

[2019-05-13 16:24] sofer commented on #588
@charlielafosse and I have been planning to take a look at this, too. Let us know if you would like us to get the ball rolling @astroash @zurda

[2019-05-14 05:49] astroash commented on #175
Yeah, this is a great idea. It helps frame learning for students as it highlights which prior knowledge they will be using in that ws.

I think newer workshops were created with this, but I’m sure it’s missing in a bunch. It would be great if we could go through all currently used FAC workshops and create issues/PRs to add this in. @zurda is this something you would be interested in doing?

[2019-05-14 07:22] m4v15 opened #994 "Free Online Testing Automation Resource"
Not sure if this has been brought up elsewhere, but I saw this and thought it might interest some people/be a potentially good **external resource** for learning a lot about test automation. I haven't investigated it myself further yet, if anyone does and has thoughts, please leave them in this issue

https://testautomationu.applitools.com/

[2019-05-16 10:02] sofer commented on #599
@zurda documenting the maintenance process for the master-reference is still a live issue. The [planning process](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) was first documented in 2017 and updated most recently in April, but not all points raised in this issue have been fully addressed. Let's keep this issue open for now.

[2019-05-16 10:03] #403 closed

[2019-05-16 10:29] sofer commented on #195
@zurda the point that @bradreeder originally raised about lack of time in the afternoon still holds. However, the timetable now allows for two hours before lunch to respond to issues *"and plan presentations"*, which would be the appropriate time to do a team code walk-through. Closing.

[2019-05-16 10:29] #195 closed

[2019-05-20 15:35] RymaTech opened #995 "FAC 17 mentor feedback: Week1"

[2019-05-20 15:35] RymaTech commented on #995
# Review of Week 1

![](https://media.giphy.com/media/lfmYxOkGpNtEk/giphy.gif)

## Stop, Go, Continue - Key Points

Try and instill cooperative learning environment and avoid competitive langauge.

No use of earphones.

Reasearch presentations went on too long.

Regularly check user manuals.

![](https://media.giphy.com/media/TTrW0vneefzPO/giphy.gif)

---

## Review the intended learning outcomes

[2019-05-20 15:36] jameslevine opened #997 "FAC17 - Express Week 8"
Express introduction too long and text-heavy - code is useful but clearly a lot has been dumped from the documentation
CSS drawer and animations quite new for a lot of people - also a nice break
More could be made of the fact that Express has a lot of new properties - It doesn't just do get and post, it can also do set, send, dynamic rendering, and serves the whole public folder at once
There are

[2019-05-20 15:36] seabasshoang opened #998 "FAC17 mentor feedback: Week 3"
# WEEK 3 API
## RECAP
* A recap of the learning outcomes for the week
    * API,, HTTP, Software Arcitecture, Async, Frontend Skills
* What about the week you liked most and what you liked least
    * most: giphy workshop (1st api req)
    * least: waterfall
* What you feel most and least prepared to deliver
    * most: XHR, callbacks,
    * least: waterfall (recursion), CORS(it will happen)
* Whe

[2019-05-20 15:40] jokosanyang opened #999 "FAC17 mentor feedback: Week 6"
### A recap of the learning outcomes for the week
	- new definitions/phrases
		- database
		- schema
		- SQL
		- PostgreSQL
		- script injections
	- connecting node to postgres
	- database testing
	- SQL skills

---

### A summary of the content
	- intro presentation
	- psql/pgcli installation
	- W - SQL commands intro
	- W - SQL commands
	- C - pg module (joining node to postgres)
	- W - pg modul

[2019-05-20 15:41] dubhcait opened #1000 "FAC17 mentor feedback: Week 4"
## Learning outcomes

#### Server basics

- Understand what is a server
- Understand the relationship between a server and a client

#### Node server basics

- Understand what is Node.js
- Understand how running Node differs from running JavaScript in your browser
- Understand basic ES6 syntax and general file system manipulation
- Understand what a node module is and the different types of module

[2019-05-20 15:41] jokosanyang commented on #999
### Discussion notes:

* SQL command workshops
    * quite a lot
    * Kate finds it helpful
    * Freddie: learn more about setting up databases and relating tables together
    * Burhan: same, lot going on in db_connection.js, don't know what's going on in there
    * Charlie: agreed, understanding setup and configuration is essential

* Henry: w3school is so good for SQL
* Freddie: master-ref i

[2019-05-20 15:43] jameslevine commented on #997
# Express week

### *All aboard the Express Train*

Presented by James and Anna (Anna will be taking Q&A).

![](https://media.giphy.com/media/dQH41X820WQ7e/giphy.gif)

---

# SGC

### *It's time to express yourself*

---

Stop

---

Stop typing and talking during presentations
Stop code review
rest not REST
blood basket
go user research

---

Go

---

tech for better selection
decisions for hackat

[2019-05-20 15:44] Baalwaan commented on #1000
## Wk 4 - Node (Wk1) Cohort Feedback

- Anna
    - Introduction to topic a MUST.

- Banna
    - What is node? an introduction would be more beneficial and help cohort get some understanding of what it is.
    - Visualisation important and helpful !!!

- Bobby
    - Heroku workshop maybe before research (or maybe scrap the whole idea first and introduce deploying following week)
    - Bobby - Where

[2019-05-20 15:55] bobbysebolao opened #1001 "FAC17 mentor feedback: Week 7"
## Learning Outcomes

1. Password management (hashing, bcrypt)
2. Cookie management (setting them, deleting them)
3. Session management (signing cookies, JWTs)
4. Secure routing
5. (NEW) Server-side and client-side validation

## Summary of Topics Covered
- Learning how to hash passwords with crypto/bcrypt
- Comparing stored hashes with submitted passwords
- Cookies: what, how and why
- Client sid

[2019-05-20 15:57] Dalmano opened #1002 "FAC 17 mentor feedback: Week 2"
### A recap of the learning outcomes for the week (unchanged)
1. What testing is
2. Why we test our code
3. Understand the difference between unit & integration tests
4. The Test-driven Development (TDD) methodology
5. How the Red Green Refactor cycle works
6. How to set up and use npm and Tape
7. The importance of pure functions in testing
8.What callbacks are and how to use them
9. How to ping p

[2019-05-27 11:11] charlielafosse commented on #932
hey @zurda sorry for slow reply. Closing this since, as mentioned above, there's additional issues for the restructuring of Day 1 out there :+1:

[2019-05-27 11:11] #932 closed

[2019-05-27 11:14] charlielafosse commented on #933
hey @zurda. Happy to close this, or there any other changes you want to make?

[2019-05-27 11:18] zurda commented on #933
Pretty sure we already created PR and issues for everything, and it's ready to be closed. Thanks @charlielafosse ! :)

[2019-05-27 11:28] #933 closed

[2019-05-28 11:40] #935 closed

[2019-05-28 16:27] #939 closed

[2019-05-28 16:42] charlielafosse commented on #955
hey @arrested-developer, worth closing now after the good work you did with `curriculum-update-process`?

[2019-05-29 08:51] charlielafosse commented on #995
Hi, thanks for your feedback! Check out the [curriculum update process](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) if you need a refresher on how we review and update the curriculum.

If changes are **tiny** I'll suggest that you raise a **PR** - assign me and I can help out. For **minor** or **major** changes you should rais

[2019-05-29 08:55] charlielafosse commented on #1002
Hi, thanks for your feedback! Check out the [curriculum update process](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) if you need a refresher on how we review and update the curriculum.

If changes are **tiny** I'll suggest that you raise a **PR** - assign me and I can help out. For **minor** or **major** changes you should rais

[2019-05-29 08:56] charlielafosse commented on #998
Hi, thanks for your feedback! Check out the [curriculum update process](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) if you need a refresher on how we review and update the curriculum.

If changes are **tiny** I'll suggest that you raise a **PR** - assign me and I can help out. For **minor** or **major** changes you should rais

[2019-05-29 08:57] charlielafosse commented on #1000
Hi, thanks for your feedback! Check out the [curriculum update process](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) if you need a refresher on how we review and update the curriculum.

If changes are **tiny** I'll suggest that you raise a **PR** - assign me and I can help out. For **minor** or **major** changes you should rais

[2019-05-29 09:01] charlielafosse commented on #999
Hi, thanks for your feedback! Check out the [curriculum update process](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) if you need a refresher on how we review and update the curriculum.

If changes are **tiny** I'll suggest that you raise a **PR** - assign me and I can help out. For **minor** or **major** changes you should rais

[2019-05-29 09:07] charlielafosse commented on #1001
Hi, thanks for your feedback! Check out the [curriculum update process](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) if you need a refresher on how we review and update the curriculum.

If changes are **tiny** I'll suggest that you raise a **PR** - assign me and I can help out. For **minor** or **major** changes you should rais

[2019-05-29 09:12] charlielafosse commented on #997
Hi, thanks for your feedback! Check out the [curriculum update process](https://github.com/foundersandcoders/master-reference/blob/master/curriculum-planning/curriculum-update-process.md) if you need a refresher on how we review and update the curriculum.

If changes are **tiny** I'll suggest that you raise a **PR** - assign me and I can help out. For **minor** or **major** changes you should rais

[2019-05-29 13:54] sofer opened #1005 "Create resource for consensus-based decision-making"

[2019-05-29 13:55] sofer opened #1006 "Create resource for user manuals"
To link from https://github.com/foundersandcoders/master-reference/blob/master/coursebook/week-1/README.md

[2019-05-29 14:07] sofer opened #1007 "Update "What makes a good research presentation""
The [current one](https://github.com/foundersandcoders/master-reference/blob/change/week1/coursebook/week-1/presentation-guidance.md) doesn't really address the issue. It also doesn't recommend ***including code snippets***, which for most topics, are essential to a good presentation.

It could also usefully include: https://github.com/FAC-Sixteen/research/blob/master/README.md

It might also be u

[2019-05-29 14:25] sofer commented on #1007
Also, possibly move it out of coursebook/week-1 and into coursebook/general

[2019-05-29 14:30] sofer commented on #1007
And combine how to do good research with how to do a good presentation

[2019-05-30 19:26] teenie-quaggard opened #1010 "Precourse materials updates"
Relates to [precourse materials](https://github.com/foundersandcoders/master-reference/tree/master/coursebook/precourse)

It's been flagged by an incoming FACer that http://dailylinuxuser.com/ is a dead link. I've opened up a PR requesting to remove it (#1009). Does anyone have any ideas of beginner Linux resources that we can replace it with?

Also, the Antergos Project (also on precourse reading

[2019-06-03 13:23] charlielafosse commented on #1007
Will dig through recent presentations and try find some gooduns

[2019-06-03 13:26] charlielafosse commented on #1007
todo
 1. How to carry out good research
2. What makes a good _research_ presentation
3. Previous examples

[2019-06-05 13:29] sofer opened #1012 "Make schedule generic"
So it's relevant for all campuses

[2019-06-05 13:30] sofer opened #1013 "Mentorship folder well hidden"
The [mentorship folder](https://github.com/foundersandcoders/master-reference/tree/master/coursebook/general/mentorship) is well hidden. It could usefully go one level up under coursebook

[2019-06-05 15:41] #1006 closed

[2019-06-06 10:17] sofer commented on #1012
@charlielafosse and I have created a [default schedule](https://github.com/foundersandcoders/master-reference/blob/master/coursebook/schedules/default.md) and we are now planning to add a london-default.md file to respond to @oliverjam's [comment on this PR](https://github.com/foundersandcoders/master-reference/pull/1008#issuecomment-497358141).

[2019-06-06 12:58] #1013 closed

[2019-06-11 11:23] Oliversw commented on #588
Happy to be a part of talks about this too, so that @teenie-quaggard and I can maybe pick things up once we start in July

[2019-06-11 13:03] charlielafosse commented on #588
@Oliversw the ball's a rollin', check out #1012 and #1008

[2019-06-11 13:04] charlielafosse commented on #588
@teenie-quaggard

[2019-06-12 14:12] #1012 closed

[2019-06-12 15:00] sofer opened #1016 "Remove London times from weeks 1-8"
Having created a new generic schedule #1012, @charlielafosse and I are removing London times from the coursebook in Week 1-8.

[2019-06-14 10:48] charlielafosse commented on #1005
Just noticed that [this](https://github.com/foundersandcoders/hq/blob/master/cooperative-structures.md) already exists in `hq`

[2019-06-14 10:51] charlielafosse commented on #1010
Thanks for this @teenie-quaggard and sorry haven't had a chance to look into yet. Will do some scrounging now :penguin: :penguin: :penguin:

[2019-06-14 11:12] charlielafosse commented on #1010
Everyone seems to end up using Debian (Ubuntu, Mint) and not Arch so probably no need to replace this for now. Much easier having everyone on the same distro

[2019-06-19 09:23] #1016 closed

[2019-06-19 13:29] #1007 closed

[2019-06-19 13:35] charlielafosse opened #1021 "Resource for client product handover"
We could do with a guide for documenting the product handover, at the end of client projects, including an example of a good product owner guide.

I'm going to make a `product handover` folder in `general` and will raise a PR for it.

[2019-06-19 15:14] charlielafosse opened #1023 "Update scavenger hunt!"
A longstanding discussion and pain point for quite a few cohorts now! I personally think having a scavenger hunt of sorts is still useful - getting students more familiar with the maze of `master-reference`, `london-programme` and `hq` is definitely important, and even with a scavenger hunt cohorts still don't know where to look for resources a lot of the time.

I'm going to work on an updated ver

[2019-06-19 15:16] charlielafosse commented on #1021
this has now changed into just having a good client project `README.md` (which should be a handover guide for the PO in itself)

[2019-07-01 14:01] #1021 closed

[2019-07-03 15:39] charlielafosse commented on #975
@jokosanyang @tloth this is a long-standing discussion (see #869) about research topics. It'd be good to get your thoughts on it before you deliver FAC17's week 6. Should we stick to three topics , and leave a little more time for workshops? Or is a fourth topic on the subject of SQL vs NoSQL databases like mongo (and when to use them) more helpful?

:doughnut:

[2019-07-03 15:40] jokosanyang commented on #975
Having read through the related issues, I like the idea of having 4 topics for FAC17 week 6. I agree with the general sentiment that removing a topic doesn't save that much time for database testing, but instead causes confusion and the resulting three groups may be too large and a bit uneven.

[2019-07-04 17:03] #990 closed

[2019-07-08 11:57] sofer commented on #1023
I am re-opening this, because the Nazareth campus no longer uses the Scavenger hunt and so the reference to the Nazareth repo needs to be removed. @m4v15 what about Gaza and al-Khalil?

[2019-07-09 12:05] sofer opened #1030 "More information in the top-level README"
- contributions
- summary of content and link to coursebook
- where this curriculum is being used
- about FAC

[2019-07-09 12:39] sofer opened #1031 "Move archive into coursebook and archive hapi weeks"
Just doing a bit of tidying up of content to make the repo look a bit more presentable.

[2019-07-16 11:08] oliverjam commented on #979
Okay I'm gonna do a PR to update this guide to match the new ESLint initialiser. Posting the gif here so I can embed 😄

![eslint-init](https://user-images.githubusercontent.com/9408641/61289887-5ac71000-a7c2-11e9-8405-a69232fbb820.gif)

[2019-07-17 13:57] #1031 closed

[2019-07-29 09:35] starsuit commented on #978
This could probably be closed now as [this PR](https://github.com/foundersandcoders/mc-request-module-workshop/pull/8) removed teaching the Request module in Week5.

[2019-07-29 09:51] Oliversw commented on #975
It seems that @jokosanyang and @tloth would prefer to include "SQL vs NoSQL databases" as a fourth research topic after finding that having one less topic in their cohort was more of a disruption than a help. Personally I am quite happy for them to do this and see how it goes. Maybe they can take some notes and share them here and then we can decide if we would like to continue with 3 or 4?

[2019-07-29 22:33] #978 closed

[2019-08-30 18:00] sofer opened #1043 "Reconcile competing guidance on contributing"
We have recently added [contributing guidelines](https://github.com/foundersandcoders/master-reference/blob/master/CONTRIBUTING.md) (see also https://github.com/foundersandcoders/master-reference/pull/1041#issuecomment-522913242) which do not reference, and also are not consistent with, the more detailed [Curriculum Planning Process document](https://github.com/foundersandcoders/master-reference/b

[2019-09-05 14:36] oliverjam opened #1045 "Conflicting image carousel instructions"
The image carousel prereq on the website links to a [markdown file in this repo](https://github.com/foundersandcoders/master-reference/blob/master/coursebook/prerequisites/image-carousel.md). However they have conflicting instructions.

The website says:

whereas the linked file says:

We should probably either update the file in this repo or remove it entirely and just put the information on the

[2019-09-05 16:11] josephgattuso commented on #1045
Hi @oliverjam, I would gladly take this issue!  Let me know if I can assist.  Please note this would be my #firstcommit (not considering my own repos) and support/guidance is warmly welcomed - check out pull request #1046. In retrospect, I likely did this in the wrong order and this is duly noted 🤓

[2019-09-05 16:35] josephgattuso commented on #1045
Full disclosure: not technically my #firstcommit. I do happen to be a [recently published](https://do-community.github.io/cloud_haiku/haikus/objective-cloud) poet.
😂

[2019-09-06 15:16] #1045 closed

[2019-09-09 13:10] teenie-quaggard opened #1048 "New curriculum"
@oliverjam and @astroash are working on a revamp of the London Master Reference.

@astroash has been turning these overall learning outcomes into more specific learning objectives. [These can be found here.](https://foundersandcoders.gitbook.io/master_reference/) The idea is that each objective should be something that is concrete enough for someone to see and provide feedback on during code revie

[2019-09-09 14:41] georgiamshaw commented on #1048
Week 1 - Jan, Leonie, Sam
Week 2 - Emmanuel, Franchy
Week 3 - Georgia, Tony
Week 4 - Christine, Victor
Week 5 - Colette, Andy
Week 6 - Gigi, Gregor
Week 7 - Jack, Martha
Week 8 - Reuben, Sarah

[2019-10-14 15:53] teenie-quaggard commented on #1048
As we will be postponing any big changes to the curriculum until FAC19, I will close this issue.

[2019-10-14 15:53] #1048 closed

[2019-10-14 16:06] teenie-quaggard opened #1051 "Curriculum planning - FAC18 Learning Outcomes"
As part of the planning for FAC18, FAC17 have been asked to look over their weeks and create a list of learning outcomes. These learning outcomes should be something that a code reviewer can use as a guide for reviewing projects at the end of each week (should be demonstrable within the code, or through documentation in a readme).

In order to help with the process, FAC17 has been provided with [t

[2019-10-14 16:48] andy-mc-donald commented on #1051
# Week 5
## Node week 2 - Learning outcomes

Node week 2 will build upon your introduction to Node last week. You will be introduced to more complex Node commands, technology and patterns with the aim to solidify and broaden your learning up to this point.

### Node basics
[Request Module Workshop](https://github.com/foundersandcoders/mc-request-module-workshop)

- Understanding how to make API ca

[2019-10-14 16:48] Albadylic commented on #1051
# Mentor Prep for Week 6 (@gminova & @Albadylic )

## Handy Links

[Repo for wk 6](https://github.com/foundersandcoders/master-reference/tree/master/coursebook/week-6)
[New curriculum LOs](https://foundersandcoders.gitbook.io/master_reference/week-5/learning-objectives)

## Learning Objectives

The main thing is that the objectives are granular enough that someone could use it as a guide in a code

[2019-10-14 16:56] jackbridger commented on #1051
## Hashing & Salting

We can describe why it is important to hash and salt a password (Password Management pres)
We can hash and salt passwords so they are not stored as plain text (Password Management workshop)
We can use a hashing algorithm to hash a password (Password Management workshop)
We can use a salt to hash a password (Password Management workshop)
We can implement hashing and salting wi

[2019-10-15 16:40] tonylomax commented on #1051
## Week 3 - Testing and API

###NPM
We can run a test suite from our terminal
We can initialise a local repo to use NPM
We can install a package locally to repo
We can make sure our /node_modules folder is not committed to version control
### Testing:
We can setup a test suite
We can use tap-spec (or similar) and explain why it is useful
We can write a pure function
We can write a test that checks

[2019-10-16 11:17] reubengt commented on #1051
# Week 8  - Express and Handlebars.js - @reubengt @sarahyjja
## Introduction to Express
-  Understand the need for a minimal framework like express - abstracts behind the scenes tasks like static file loading, form parsing etc for easier server setup, but also gives the developer freedom to use whatever modules and middleware they want.
- Compare express server setup to node.js http module server

[2019-10-20 14:44] gminova commented on #1051
# Mentoring week 1
## by Jan and Gigi

## Challenges
- students don't know each other, and who is who in FAC. Being generally lost
- it might be the first time to collaborate while coding

## Advantages:
- lots of help from FAC
- content relevant to the whole course

---

## Timeline
- [ ] :calendar:**MONDAY** (4th Nov)
    - [ ] :sun_with_face:AM
        - [ ] [Welcome talk](https://facresources.

[2019-10-20 15:50] gminova commented on #1051
# Week 1 Toolkit

## Gigi [@gminova](https://github.com/gminova), Jan [@crianonim](https://github.com/crianonim)

## Paired Programming
[Pair Programming Models](https://github.com/foundersandcoders/master-reference/blob/master/coursebook/week-1/pair-programming.md)
- [ ] We can work on one computer as a pair
- [ ] Feel more comfortable with pairing
- [ ] Understand the benefits of pairing
- [ ] W

[2019-10-21 14:24] victormasson21 commented on #1051
## Week 4: Node
(Christine and Victor)

### Node Intro Workshop
https://github.com/foundersandcoders/Node-Intro-Workshop
- [ ] We are familiar with core node modules
- [ ] We can setup a server with using the HTTP module that listens on a specific port
- [ ] What is npm? How do you use it?
- [ ] What is a module and what different types of modules exist?
- [ ] What is a package.json?
- [ ] What ar

[2019-10-21 15:06] frannyfra commented on #1051
Week 2- Testing @emaggy and @frannyfra
LEARNING OUTCOMES:
### Understand why we test our code and learn how to test

### NPM- intro
- [ ] We can initialise and install NPM
- [ ] We can install a package locally to our repo
- [ ] We can run our test suite from our terminal
- [ ] We can make sure our /node_modules folder is not committed to version control
- [ ] We can save dependencies so other peo

[2019-11-12 12:52] bobbysebolao commented on #1043
I've been thinking about how to resolve these competing guidelines, @Oliversw I will make a few additions to the guidelines you recently updated to include guidance about what constitutes a tiny/minor/major change from the old set of guidelines.

[2019-12-16 13:52] reubengt opened #1057 "Week8 - replace introduction to express with slides"
As referenced in @jameslevine 's mentor feedback here:
https://github.com/foundersandcoders/master-reference/issues/997#issue-446184005

fac16 and fac17 found the [introduction to express](https://github.com/foundersandcoders/introduction-to-express) on day 1 of express week quite long and wordy, and it took longer than expected because mentors were waiting on everyone to read through.

an alterna

[2019-12-16 14:22] oliverjam commented on #1057
This is a great intro, especially the overview of frameworks/abstraction 🎉

Given we're changing the curriculum quite a bit I imagine the current intro will be replaced anyway.

I'm not sure that we want to rely on always having a mentor who is willing and able to deliver material as a presentation, but the content could definitely work as material in the new curriculum.

[2019-12-16 14:41] bobbysebolao commented on #1057
I also love the code snippets you've used to illustrate the difference between Node with and without Express 🚀

Quite a few people from FAC17/16 liked the idea of there being a short presentation to set the stage for each week, delivered by mentors. Presentations already exist for certain weeks (weeks 6 and 7 definitely have them). If there are sufficient speakers notes, I think it's fair to ask m

[2019-12-16 18:19] reubengt commented on #1057
I'm willing to work on speaker notes a little bit, or convert this to a writeup if necessary.
@oliverjam what's the current status of week8 on the new curriculum?

[2019-12-16 19:37] oliverjam commented on #1057
Express is going to be introduced in Week 7 rather than 8. The main change is we're planning on focusing on building a RESTful JSON API, but that should affect the general introduction.

You can see the proposed learning outcomes for the week here if you like:

https://github.com/foundersandcoders/coursebook/pull/5/files

[2019-12-19 14:18] reubengt commented on #1057
should this issue be closed then? since it's presently unclear how these proposed changes will fit into the new curriculum?

[2019-12-20 11:10] oliverjam commented on #1057
Maybe a more generic issue about opening each week with a short presentation introducing the main topic would be useful? On the new [coursebook repo](https://github.com/foundersandcoders/coursebook)

[2020-01-16 18:30] bobbysebolao commented on #1057
Created [an issue](https://github.com/foundersandcoders/coursebook/issues/15) in the new coursebook that relates to this thread

[2020-02-27 16:58] edificex opened #1058 "FAC18 Curriculum Feedback: Week 8"
# Express & Handlebars Week

## Learning outcomes

- [x] Learn how to set up Express
- [x] Learn how to define routes
- [x] Learn how to set up a route with a dynamic url using named parameters
- [x] Learn how to get data out of the request parameters and payload
- [x] Learn how to use Express middleware, for example, to serve static assets
- [x] Understand the purpose of templating
- [x] Learn ho

[2020-02-27 17:02] pat-cki opened #1059 "FAC18 Curriculum feedback - week 2"
### A summary of the content and core concepts that were covered:

- What testing is
- Why we test our code
- Understand the difference between unit & integration tests
- The Test-driven Development (TDD) methodology
- How the Red Green Refactor cycle works
- How to set up and use npm and Tape
- The importance of pure functions in testing
- What callbacks are and how to use them
- How to ping pong

[2020-02-27 17:03] rosalie-baxter opened #1060 "Week 3 Amendment Suggestions"
## API Week Suggested Changes
@bethanyios @AlexandraOM

## Learning outcomes

You should gain an understanding of the following:

### HTTP
- What is HTTP?
- What is an XMLHttpRequest?
- What are HTTP methods and what are the different methods intended for?
- What is an HTTP status code and what are the most common ones?

### API
- What is an API?
- How do you use an xhr (XMLHttpRequest) to query a

[2020-02-27 17:05] roshlarosh opened #1061 "FAC18 Curriculum Feedback: Week 7"
# **Auth week**

**Learning outcomes with content and core concepts:**

1. Password management
- generate a random salt (using bcrypt.js)
- hash a password (using bcrypt.js)
- compare it (using bcrypt.js) to the user input

2. Cookie management
- Definition of cookies
- Purpose of using cookies
- Removing and setting cookies using headers
- Checking for cookies in requests

3. Session management
-

[2020-02-27 17:27] redahaq opened #1062 "FAC18 Curriculum Feedback: Week 6"
Feedback from: @yeo-yeo @redahaq

See Week6 [learning objectives here](https://github.com/foundersandcoders/master-reference/blob/master/coursebook/week-6/learning-outcomes.md)

All learning objectives were covered

- Some things like security/ preventing script injections were only covered in the research afternoon tech spike and not all teams managed to do this in the projects

What we liked:
-

[2020-02-27 17:32] renatadev opened #1063 "FAC18 Curriculum Feedback: Week 4"
# Nodejs week
Feedback from: @marialani & @renatadev

## A recap of the learning outcomes for the week

See the learning outcomes [here](https://github.com/foundersandcoders/master-reference/blob/master/coursebook/week-4/learning-outcomes.md)

## A summary of the content and core concepts that were covered

- Server basics (request - response pattern)
- Nodejs: understanding basic core modules (e.

[2020-02-27 17:33] kin-au opened #1064 "FAC18 Curriculum Feedback: Week 5"
# FAC18 Curriculum Feedback: Week 5
## Node Week 2

---
## [Link to Coursebook material](https://github.com/foundersandcoders/master-reference/tree/master/coursebook/week-5)

---

## Which learning outcomes did we feel were achieved this week:

### Node basics
✅ Understanding how to make API calls from the back-end using the Node http module
✅ How to break a large server file into smaller modules

[2020-04-17 13:19] iteles commented on #369
@sofer Sadly, I don't believe this is relevant any more? FAC may have moved in a different direction since these days?

[2020-04-17 13:22] iteles commented on #768
Unassigning myself for now as I haven't been very involved with FAC for a year now and I'm not sure how far back into the 'history' of FAC people are interested in going at this stage!

Please mention me again if I can help with any info on this ☺️

[2020-09-21 09:44] oliverjam commented on #508
We now have an ESLint intro that has students use the built-in `eslint --init` command to set up a basic config, so we can definitely close this

[2020-09-21 09:44] #508 closed

[2020-09-21 10:37] #1057 closed